@model CarInsurance.Models.Insuree

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<h2>Your quote is being calculated. Please contact 1-8888-772-1089 during regular business hours to find out your quote. </h2>