<div class="row no-gutters m-3">
    <div class="card col mx-auto shadow">
        @using (Html.BeginForm("Create", "Insuree", FormMethod.Post))
        {
            @Html.AntiForgeryToken();

            <div class="card-body">
                <div class="row no-gutters">
                    <div class="form-group col">
                        <input type="text" name="FirstName" value="Lindsay" class="form-control h-100 " placeholder="First Name" />
                    </div>
                    <div class="form-group col">
                        <input type="text" name="LastName" value="Alexander" class="form-control h-100 " placeholder="Last Name" />
                    </div>
                    <div class="form-group col">
                        <input type="email" name="EmailAddress" value="linmalex@gmail.com" class="form-control h-100 " placeholder="Email Address" />
                    </div>
                    <div class="form-group col">
                        <input type="date" name="DateofBirth" value="03/13/1989" class="form-control h-100 " placeholder="Date of Birth" />
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="form-group col">
                        <input type="text" name="CarYear" value="1999" class="form-control" placeholder="Car Year" />
                    </div>
                    <div class="form-group col">
                        <input type="text" name="Car Make" value="Hyundai" class="form-control" placeholder="Car Make" />
                    </div>
                    <div class="form-group col">
                        <input type="text" name="CarModel" value="Elantra" class="form-control" placeholder="Car Model" />
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col border p-2">
                        <div class="row mx-auto"> Have you ever had a DUI? </div>
                        <div class="row mx-auto">
                            <input type="checkbox" name="yesDUI" value="" class="m-2 border" />
                            <p>Yes</p>
                        </div>
                        <div class="row mx-auto">
                            <input type="checkbox" name="noDUI" value="" class="m-2 border" checked="checked" />
                            <p>No</p>
                        </div>
                    </div>
                    <div class="col border p-2">
                        <div class="row mx-auto"> How many speeding tickets have you had? </div>
                        <div class="row mx-auto">
                            <input type="number" name="speedingTickets" value="1" class="m-2 border" />
                        </div>
                    </div>
                    <div class="col border p-2">
                        <div class="row mx-auto"> Would you like full coverage or liability only? </div>
                        <div class="row mx-auto">
                            <input type="radio" name="fullCoverage" value="" class="m-2 border" checked="checked"/>
                            Full Coverage
                        </div>
                        <div class="row mx-auto">
                            <input type="radio" name="liability" value="" class="m-2 border" />
                            Liability
                        </div>
                    </div>
                </div>
                <div class="row no-gutters col-12 mt-5">
                    <input type="submit" name="submit" value="Submit" class="btn btn-block btn-outline-primary mx-auto" />
                </div>
            </div>
        }
        <div class="card-header text-center">
            <h5 class="m-0">Car Insurance Quote Form</h5>
        </div>

    </div>
</div> 